/* Navbar Styles */

nav {
    display: flex;
    background-color: #f0f0f0;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;

}

nav a {
    color: #333;
    font-size: 14px;
    font-family: "Open Sans";
}

.nav-left {
    flex: 1;
}

.shop-sale-link {
    position: relative;
}

.nav-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

.nav-right a {
    text-decoration: none;
    color: inherit;
}

.sign-in {
    display: flex;
    align-items: center;
    gap: 4px;
}

.wishlist,
.cart {
    display: flex;
    align-items: center;
}

.cart {
    gap: 4px;
}

.nav-right ion-icon {
    font-size: 20px;
}